<h2>Your Dashboard</h2>
<p>Your Referral Code: <span id="referral-code">{{ referral_code }}</span> <i class="fas fa-copy copy-icon" onclick="copyURL('referral-code')"></i></p>
<p>Your User Unique Code: <span id="unique-code">{{ user_unique_code }}</span> <i class="fas fa-copy copy-icon" onclick="copyURL('unique-code')"></i></p>
<p id="copy-message" style="display: none;">URL copied!</p>

{% if referred_users %}
    <h3>Users Who Used Your Referral Code:</h3>
    <ul>
        {% for referred_user in referred_users %}
            <li>{{ referred_user.user }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No users have used your referral code yet.</p>
{% endif %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
<script>
    function copyURL(elementId) {
        var codeElement = document.getElementById(elementId);
        var refCode = codeElement.textContent.trim();
        var url = "http://127.0.0.1:8000/account/signup/" + refCode + "/";

        var tempInput = document.createElement('input');
        tempInput.value = url;
        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand('copy');
        document.body.removeChild(tempInput);

        var copyMessage = document.getElementById('copy-message');
        copyMessage.style.display = 'block';

        setTimeout(function() {
            copyMessage.style.display = 'none';
        }, 2000); // Hide the message after 2 seconds
    }
</script>
